.cent{
    text-align: center;
}
div {
    justify-content: center;
    text-align: center;
    background-color: lightblue;

}
table{
    margin-left:auto;
    margin-right: auto;
    border-spacing: 3px;
}
td {
    padding: 3px;
}
ul ol{
    display: table;
    margin: 0 auto;
}
